.header{
    width: 105%;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: rgb(54, 54, 54);
    color: white;
    padding: 1.25rem;
    margin-left: -25px;
}

.title{
    margin-left: 10px;
}
.notification {
    text-align: center;
}

.scores {
    text-align: center;
}