.jumbotron {
    text-align: center;
    color: white;
    background-image: url("https://cdn.shopify.com/s/files/1/2293/8575/files/Poly_twitter_1501x421.png");
    background-size: cover;
    height: 420px;
    width: 105%;
    margin-top: -10px;
    margin-left: -18px;
}